src/support/node-red/dashboard.json
[
  {
    "id": "db8103a8.f6c9c",
    "type": "tab",
    "label": "Music Machine Dashboard",
    "disabled": false,
    "info": ""
  },
  {
    "id": "20166ac.e511496",
    "type": "osc",
    "z": "db8103a8.f6c9c",
    "name": "",
    "path": "/controls",
    "metadata": false,
    "x": 890,
    "y": 260,
    "wires": [["b183b5d.b3b4a48"]]
  },
  {
    "id": "facf5b31.1c9a28",
    "type": "inject",
    "z": "db8103a8.f6c9c",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"id\":1,\"label\":\"dull_bell\",\"noteIdentifier\":\"/event/1\",\"pan\":-0.4,\"amplitude\":0.6}",
    "payloadType": "json",
    "x": 110,
    "y": 100,
    "wires": [["aa92f7cb.b75828", "192bee2e.1f6ee2"]]
  },
  {
    "id": "b183b5d.b3b4a48",
    "type": "udp out",
    "z": "db8103a8.f6c9c",
    "name": "",
    "addr": "localhost",
    "iface": "",
    "port": "4243",
    "ipv": "udp4",
    "outport": "",
    "base64": false,
    "multicast": "false",
    "x": 1050,
    "y": 260,
    "wires": []
  },
  {
    "id": "58097cf9.f74034",
    "type": "inject",
    "z": "db8103a8.f6c9c",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"id\":2,\"label\":\"square\",\"noteIdentifier\":\"/event/2\",\"pan\":0.4,\"amplitude\":0.8}",
    "payloadType": "json",
    "x": 110,
    "y": 380,
    "wires": [["30ae5873.0a2b48", "afc5708e.2528c"]]
  },
  {
    "id": "64a328a2.bac4b8",
    "type": "ui_slider",
    "z": "db8103a8.f6c9c",
    "name": "Pan",
    "label": "Pan",
    "tooltip": "",
    "group": "e223436c.7a1f9",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "all",
    "topic": "pan",
    "topicType": "str",
    "min": "-1",
    "max": "1",
    "step": ".01",
    "className": "",
    "x": 450,
    "y": 160,
    "wires": [["e41bec20.6fbf4"]]
  },
  {
    "id": "818c1c49.12174",
    "type": "ui_slider",
    "z": "db8103a8.f6c9c",
    "name": "Volume",
    "label": "Volume",
    "tooltip": "",
    "group": "e223436c.7a1f9",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "all",
    "topic": "amplitude",
    "topicType": "str",
    "min": "0",
    "max": "1",
    "step": ".01",
    "className": "",
    "x": 460,
    "y": 220,
    "wires": [["e41bec20.6fbf4"]]
  },
  {
    "id": "845870c3.6a14c",
    "type": "switch",
    "z": "db8103a8.f6c9c",
    "name": "",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "label", "vt": "str" },
      { "t": "eq", "v": "noteIdentifier", "vt": "str" },
      { "t": "eq", "v": "pan", "vt": "str" },
      { "t": "eq", "v": "amplitude", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 4,
    "x": 270,
    "y": 180,
    "wires": [
      ["97959724.ec5d28"],
      ["21f9da65.466ea6"],
      ["64a328a2.bac4b8"],
      ["818c1c49.12174"]
    ]
  },
  {
    "id": "97959724.ec5d28",
    "type": "ui_text_input",
    "z": "db8103a8.f6c9c",
    "name": "Label",
    "label": "Label",
    "tooltip": "",
    "group": "e223436c.7a1f9",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "mode": "text",
    "delay": 300,
    "topic": "label",
    "sendOnBlur": true,
    "topicType": "str",
    "x": 450,
    "y": 80,
    "wires": [["e41bec20.6fbf4"]]
  },
  {
    "id": "21f9da65.466ea6",
    "type": "ui_text_input",
    "z": "db8103a8.f6c9c",
    "name": "Note Identifier",
    "label": "Note Identifier",
    "tooltip": "",
    "group": "e223436c.7a1f9",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "mode": "text",
    "delay": 300,
    "topic": "noteIdentifier",
    "sendOnBlur": true,
    "topicType": "str",
    "x": 480,
    "y": 120,
    "wires": [["e41bec20.6fbf4"]]
  },
  {
    "id": "aa92f7cb.b75828",
    "type": "split",
    "z": "db8103a8.f6c9c",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "topic",
    "x": 270,
    "y": 100,
    "wires": [["845870c3.6a14c"]]
  },
  {
    "id": "2c9735d2.90280a",
    "type": "function",
    "z": "db8103a8.f6c9c",
    "name": "Format",
    "func": "const { id, ...instrument } = msg.payload\n\nmsg.payload = JSON.stringify({\n  id,\n  instrument,\n})\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 260,
    "wires": [["20166ac.e511496", "2a6535d3.98337a"]]
  },
  {
    "id": "e2c5f581.b29a98",
    "type": "comment",
    "z": "db8103a8.f6c9c",
    "name": "Instrument 1",
    "info": "",
    "x": 90,
    "y": 60,
    "wires": []
  },
  {
    "id": "7fdaae24.a98d1",
    "type": "ui_slider",
    "z": "db8103a8.f6c9c",
    "name": "Pan",
    "label": "Pan",
    "tooltip": "",
    "group": "a6a5cca1.036ea",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "all",
    "topic": "pan",
    "topicType": "str",
    "min": "-1",
    "max": "1",
    "step": ".01",
    "className": "",
    "x": 450,
    "y": 440,
    "wires": [["92d33cee.885b1"]]
  },
  {
    "id": "45905e7e.8992f",
    "type": "ui_slider",
    "z": "db8103a8.f6c9c",
    "name": "Volume",
    "label": "Volume",
    "tooltip": "",
    "group": "a6a5cca1.036ea",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "all",
    "topic": "amplitude",
    "topicType": "str",
    "min": "0",
    "max": "1",
    "step": ".01",
    "className": "",
    "x": 460,
    "y": 500,
    "wires": [["92d33cee.885b1"]]
  },
  {
    "id": "f3879f93.a75e5",
    "type": "switch",
    "z": "db8103a8.f6c9c",
    "name": "",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "label", "vt": "str" },
      { "t": "eq", "v": "noteIdentifier", "vt": "str" },
      { "t": "eq", "v": "pan", "vt": "str" },
      { "t": "eq", "v": "amplitude", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 4,
    "x": 270,
    "y": 460,
    "wires": [
      ["a6ddfc21.edeff"],
      ["dcf5af13.82d69"],
      ["7fdaae24.a98d1"],
      ["45905e7e.8992f"]
    ]
  },
  {
    "id": "a6ddfc21.edeff",
    "type": "ui_text_input",
    "z": "db8103a8.f6c9c",
    "name": "Label",
    "label": "Label",
    "tooltip": "",
    "group": "a6a5cca1.036ea",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "mode": "text",
    "delay": 300,
    "topic": "label",
    "sendOnBlur": true,
    "topicType": "str",
    "x": 450,
    "y": 360,
    "wires": [["92d33cee.885b1"]]
  },
  {
    "id": "dcf5af13.82d69",
    "type": "ui_text_input",
    "z": "db8103a8.f6c9c",
    "name": "Note Identifier",
    "label": "Note Identifier",
    "tooltip": "",
    "group": "a6a5cca1.036ea",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "mode": "text",
    "delay": 300,
    "topic": "noteIdentifier",
    "sendOnBlur": true,
    "topicType": "str",
    "x": 480,
    "y": 400,
    "wires": [["92d33cee.885b1"]]
  },
  {
    "id": "30ae5873.0a2b48",
    "type": "split",
    "z": "db8103a8.f6c9c",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "topic",
    "x": 270,
    "y": 380,
    "wires": [["f3879f93.a75e5"]]
  },
  {
    "id": "d47f1663.5ac848",
    "type": "function",
    "z": "db8103a8.f6c9c",
    "name": "Format",
    "func": "const { id, ...instrument } = msg.payload\n\nmsg.payload = JSON.stringify({\n  id,\n  instrument,\n})\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 540,
    "wires": [["20166ac.e511496", "2a6535d3.98337a"]]
  },
  {
    "id": "844342c1.a0b9d",
    "type": "comment",
    "z": "db8103a8.f6c9c",
    "name": "Instrument 2",
    "info": "",
    "x": 90,
    "y": 340,
    "wires": []
  },
  {
    "id": "2a6535d3.98337a",
    "type": "debug",
    "z": "db8103a8.f6c9c",
    "name": "Controls",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 320,
    "wires": []
  },
  {
    "id": "92d33cee.885b1",
    "type": "function",
    "z": "db8103a8.f6c9c",
    "name": "Join",
    "func": "const label = 'instrument2'\nconst currentInstrument = flow.get(label)\nconst { topic, payload } = msg\n\nconst instrument = {\n    ...currentInstrument,\n    [topic]: payload,\n}\n\nflow.set(label, instrument)\n\nmsg.payload = instrument\n\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 670,
    "y": 400,
    "wires": [["d47f1663.5ac848"]]
  },
  {
    "id": "afc5708e.2528c",
    "type": "change",
    "z": "db8103a8.f6c9c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "instrument2",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 260,
    "y": 540,
    "wires": [["d47f1663.5ac848"]]
  },
  {
    "id": "e41bec20.6fbf4",
    "type": "function",
    "z": "db8103a8.f6c9c",
    "name": "Join",
    "func": "const label = 'instrument1'\nconst currentInstrument = flow.get(label)\nconst { topic, payload } = msg\n\nconst instrument = {\n    ...currentInstrument,\n    [topic]: payload,\n}\n\nflow.set(label, instrument)\n\nmsg.payload = instrument\n\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 670,
    "y": 140,
    "wires": [["2c9735d2.90280a"]]
  },
  {
    "id": "192bee2e.1f6ee2",
    "type": "change",
    "z": "db8103a8.f6c9c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "instrument1",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 240,
    "y": 260,
    "wires": [["2c9735d2.90280a"]]
  },
  {
    "id": "e223436c.7a1f9",
    "type": "ui_group",
    "name": "Synth 1",
    "tab": "ebf2149.5ae4be8",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "a6a5cca1.036ea",
    "type": "ui_group",
    "name": "Synth 2",
    "tab": "ebf2149.5ae4be8",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ebf2149.5ae4be8",
    "type": "ui_tab",
    "name": "Magical Music Machine Controls",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
