src/support/node-red/test-notes.json
[
  {
    "id": "98545745.0e9d68",
    "type": "tab",
    "label": "Send Test Notes",
    "disabled": false,
    "info": ""
  },
  {
    "id": "b3394315.51ae6",
    "type": "osc",
    "z": "98545745.0e9d68",
    "name": "",
    "path": "/notes",
    "metadata": false,
    "x": 590,
    "y": 100,
    "wires": [["1b6d5060.e536"]]
  },
  {
    "id": "1b6d5060.e536",
    "type": "udp out",
    "z": "98545745.0e9d68",
    "name": "",
    "addr": "localhost",
    "iface": "",
    "port": "4242",
    "ipv": "udp4",
    "outport": "",
    "base64": false,
    "multicast": "false",
    "x": 770,
    "y": 100,
    "wires": []
  },
  {
    "id": "3c39958.2bf876a",
    "type": "inject",
    "z": "98545745.0e9d68",
    "name": "One",
    "props": [{ "p": "payload" }, { "p": "topic", "v": "1", "vt": "num" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"note\":\"Bb4\",\"volume\":0.5}",
    "payloadType": "json",
    "x": 130,
    "y": 100,
    "wires": [["f8b421c0.3d152"]]
  },
  {
    "id": "f8b421c0.3d152",
    "type": "function",
    "z": "98545745.0e9d68",
    "name": "Stringify",
    "func": "const { payload, topic } = msg\nmsg.payload = [\n    topic,\n    JSON.stringify(payload),\n]\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 100,
    "wires": [["b3394315.51ae6"]]
  },
  {
    "id": "638d3f32.9267",
    "type": "comment",
    "z": "98545745.0e9d68",
    "name": "Send Test Note",
    "info": "",
    "x": 120,
    "y": 60,
    "wires": []
  },
  {
    "id": "ae787e6f.564cd",
    "type": "inject",
    "z": "98545745.0e9d68",
    "name": "Two",
    "props": [{ "p": "payload" }, { "p": "topic", "v": "2", "vt": "num" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"note\":\"D#4\",\"volume\":0.5}",
    "payloadType": "json",
    "x": 130,
    "y": 140,
    "wires": [["f8b421c0.3d152"]]
  }
]
